@font-face { font-family: Asap; src: url('../../../includes/fonts/Asap-Regular.otf'); } 
@font-face { font-family: Asap; font-weight: bold; src: url('../../../includes/fonts/Asap-Bold.otf'); }
@font-face { font-family: Asap; font-style: italic; src: url('../../../includes/fonts/Asap-Italic.otf'); }

body {
	font-family: Asap, arial;
	background-color: #e9e9e9;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
}

header {
	display: block;
	height: 50px;
	background-color: #0787c9;
	overflow:hidden;
}

header a {
	color:#fff;
}

header img {
	margin-left: 1%;
}

/* NAV STYLES */
.nav_wrapper {
	background-color: #fff;
	width: 15%;
	min-width: 150px;
	height: 100%;
	display: block;
	float: left;
	overflow: auto;
}

nav {
	padding: 10px 0px 10px 0px;
}

nav li {
	margin-top: 10px;
}

.nested li {
	margin-top: 0px;
	padding-left: 5px;
}

.nested li a {
	font-size: 0.8em;
}

nav a {
	display: block;
	padding-left: 10%;
	padding-top: 5px;
	padding-bottom: 5px;
}

nav a:hover {
	color: #fff;
	background-color: #444;
}
/* END NAV STYLES */

/* OPTIONS STYLES */
.options_wrapper {
	position: relative;
	float:right;
	display:block;
	margin-right: 1%;
}

.options_link {
	margin: 7px 0px 7px 5px;
	display:block;

	-webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
     
    overflow:hidden;
}

.options_link:hover {
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform:rotate(90deg);
}

.options {
	position: absolute;
	display: none;
	margin-right: 7px;
	background-color: #fff;
	z-index: 5;
	color: #444;
	right: 7px;
	padding: 5px;
}

.options a {
	padding: 3px 6px;
	display: block;
}

.options a:hover {
	color:#0786C9;
}
/* END OPTIONS STYLES */

/* APP STYLES */
.app_wrapper {
	display: block;
	padding: 20px;
	overflow: hidden;
}

.app_wrapper table {
	width: 100%;
}

.app_wrapper td {
	display: block;
}
/* END APP STYLES */

/* CALENDER STYLES */
.calendar-top {
	overflow: hidden;
	margin-bottom: 20px;
}

.calendar-top h2 {
	margin: 10px;
}

.calendar-options {
	float:right;
	display: block;
	overflow: hidden;
	margin-right: 5px;
}

.calendar-options button {
	font-family: Asap, arial;
	font-size: 1.1em;
	padding: 8px 10px 10px 10px;
	margin:5px;
	border:none;
	background-color: #0786C9;
	color: #fff;
	display:inline-block;
}

.calendar-options select {
	font-family: Asap, arial;
	font-size: 1em;
	display: inline;
	margin:5px 1px 5px 5px;
	border:none;
	color:#fff;
	border-radius: 0px;
	-webkit-appearance: none;
	padding: 10px 40px 11px 10px;
	background: url('../images/icons/drop-down.png') no-repeat 90% #0786C9;
}

.calendar-options select:focus {
	outline: 2px #fff solid;
}

.calendar-options-buttons {
	float: right;
}

.calendar-options-drops {
	float: right;
	margin-right: 30px;
}

.calendar-tab thead th {
	height: 80px;
	vertical-align: middle;
	background-color: #0786C9;
	color: #fff;
	font-style: italic;
	text-align: right;
	padding-right: 10px;
	border: 10px solid #e9e9e9;
}

.calendar-tab tr {
	border: none;
}

.calendar-tab td {
	background-color: #fff;
	border: none;
	border: 10px solid #e9e9e9;
}

.calendar-tab button {
	width: 100%;
	font-size: 2em;
	background-color: #fff;
	border: none;
	text-align: left;
	color: #0786C9;
	padding: 10px;
	margin: 0px;
}

.calendar-tab button:hover {
	color: #444;
}

/*ADD EVENT FORM*/
#day_date {
	display: inline;
	margin: 0px 0px 5px 0px;
}

#event_type {
	float: right;
	margin-right: 20px;
}

#event_form ul li {
	padding: 3px;
}

#event_form ul li label {
	vertical-align: top;
	width: 200px;
	display: inline-block;
}

#event_form ul li input[type=text] {
	padding:2px;
	border: 2px solid #e9e9e9;
	width:180px;
	margin: 0px;
}

#event_form ul li textarea {
	margin: 0px;
	border: 2px solid #e9e9e9;
	width:180px;
}

#event_form span {
	color: #888;
	padding: 2px ;
}

#create_event_button {
	border: 2px solid #e9e9e9;
	background-color: #d6d6d6;
	font-size: 1em;
	display: inline;
	padding: 3px;
	width: 100px;
	text-align: center;
}
/*END ADD EVENT FORM*/
/* END CALENDER STYLES */


/* - MY ACCOUNT STYLES - */
.my_account_wrapper li {
	display: block;
}

.my_account_wrapper li section {
	display: inline-block;
	width: 48%;
	vertical-align: top;
}
/* - END MY ACCOUNT STYLES - */