/* POP UP STYLES */
.calendar-choice td {
	padding: 10px;
}

.planned-tasks {
	float:right;
	background-color: #e9e9e9;
	width: 40%;
	padding: 5px;
}

.planned-tasks a {
	padding: 5px;
	display: block;
}
/* END POP UP STYLES */